// CSS RESET

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

// GENERAL STYLES

body {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.main {
    @media only screen and (min-width: 1200px) {
        overflow-x: hidden;
    }
}

.p {
    color: #7b8bad;

    @media only screen and (max-width: 360px) {
        font-size: 14px;
    }
}

.hero-p-margin-bottom {
    margin-bottom: 32px;

    @media only screen and (min-width: 700px) {
        margin-bottom: 39px;
    }

    @media only screen and (min-width: 1200px) {
        margin-bottom: 40px;
    }
}

// BUTTON

.btn,
.btn:link,
.btn:hover {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;

    display: inline-block;
    border-radius: 8px;
    padding: 11px 14.5px;

    cursor: pointer;
    transition: color 0.15s, background-color 0.15s;

    @media only screen and (min-width: 700px) {
        padding: 16px 27px;
    }

    @media only screen and (max-width: 360px) {
        padding: 5px 10px;
        font-size: 15px;
    }
}

.btn--gray,
.btn--gray:link,
.btn--gray:visited {
    background-color: #e8eff2;
    color: #162542;
}

.btn--gray:hover {
    color: #fff;
    background-color: #162542;
}

.btn--orange,
.btn--orange:link,
.btn--orange:visited {
    background-color: #f16718;
    color: #ffffff;
}

.btn--orange:hover {
    background-color: #ff9b62;
}

// END
