.gallery {
    padding: 0 24px;
    overflow-x: hidden;

    @media only screen and (min-width: 700px) {
        padding: 0 40px 0 39px;
        overflow-x: revert;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 1189px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &__imgs-box {
        position: relative;
        margin-bottom: 75px;

        display: grid;
        column-gap: 24px;
        grid-template-columns: 0.3696fr 0.6303fr;

        max-width: 550px;
        height: 193px;
        margin-left: -46px;

        @media only screen and (min-width: 424px) {
            margin: 0 auto 75px auto;
        }

        @media only screen and (min-width: 700px) {
            max-width: 888px;
            height: 320px;
            margin-bottom: 72px;
            column-gap: 30px;
            grid-template-columns: 0.3247fr 0.6752fr;
        }

        @media only screen and (min-width: 1200px) {
            max-width: revert;
            width: 730px;
            height: 480px;
            margin: 0;
            grid-template-columns: 0.3642fr 0.6357fr;
        }

        &::before {
            @media only screen and (min-width: 1200px) {
                content: url(./../assets/shared/pattern-square.svg);
                position: absolute;
                bottom: -7px;
                left: -285px;
            }
        }
    }

    &__img {
        background-position: center;
        background-size: cover;
        border-radius: 20px;

        &--1 {
            background-image: url(./../assets/mobile/image-phone-and-keyboard.jpg);

            @media only screen and (min-width: 700px) {
                background-image: url(./../assets/tablet/image-phone-and-keyboard.jpg);
            }

            @media only screen and (min-width: 1200px) {
                background-image: url(./../assets/desktop/image-phone-and-keyboard.jpg);
            }
        }

        &--2 {
            background-image: url(./../assets/mobile/image-glass-and-keyboard.jpg);

            @media only screen and (min-width: 700px) {
                background-image: url(./../assets/tablet/image-glass-and-keyboard.jpg);
            }

            @media only screen and (min-width: 1200px) {
                background-image: url(./../assets/desktop/image-glass-and-keyboard.jpg);
            }
        }
    }

    &__content-box {
        text-align: center;
        margin: 0 auto;
        max-width: 550px;

        @media only screen and (min-width: 700px) {
            max-width: 888px;
            text-align: left;
            display: flex;
            align-items: center;
        }

        @media only screen and (min-width: 1200px) {
            max-width: revert;
            width: 310px;
            flex-direction: column;
            margin: 0 0 0 auto;
        }

        @media only screen and (min-width: 1350px) {
            width: 255px;
        }

        p {
            padding: 0 10px;

            @media only screen and (min-width: 700px) {
                padding: 0;
                width: 398px;
                margin-left: auto;
            }

            @media only screen and (min-width: 888px) {
                width: 500px;
            }

            @media only screen and (min-width: 1200px) {
                width: 100%;
            }
        }
    }
}

.h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #162542;

    margin-bottom: 24px;
    padding: 0 10px;

    @media only screen and (min-width: 700px) {
        margin-bottom: 0;
        padding: 0;
        width: 220px;
    }

    @media only screen and (min-width: 1200px) {
        width: 100%;
        margin-bottom: 27px;
    }
}

.gallery-section-margin-bottom {
    margin-bottom: 111px;

    @media only screen and (min-width: 700px) {
        margin-bottom: 142px;
    }

    @media only screen and (min-width: 1200px) {
        margin-bottom: 168px;
    }
}
