.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 600px;
    margin: 0 auto;
    padding: 23px 24px 64px 24px;

    @media only screen and (min-width: 700px) {
        padding: 40px 40px 62px 39px;
        max-width: 967px;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 1190px;
        padding: 55px 40px 83px 40px;
    }
}

.logo {
    @media only screen and (max-width: 360px) {
        width: 36px;
        height: 36px;
    }
}
