* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}

@media only screen and (min-width: 1200px) {
  .main {
    overflow-x: hidden;
  }
}

.p {
  color: #7b8bad;
}
@media only screen and (max-width: 360px) {
  .p {
    font-size: 14px;
  }
}

.hero-p-margin-bottom {
  margin-bottom: 32px;
}
@media only screen and (min-width: 700px) {
  .hero-p-margin-bottom {
    margin-bottom: 39px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-p-margin-bottom {
    margin-bottom: 40px;
  }
}

.btn,
.btn:link,
.btn:hover {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  border-radius: 8px;
  padding: 11px 14.5px;
  cursor: pointer;
  transition: color 0.15s, background-color 0.15s;
}
@media only screen and (min-width: 700px) {
  .btn,
  .btn:link,
  .btn:hover {
    padding: 16px 27px;
  }
}
@media only screen and (max-width: 360px) {
  .btn,
  .btn:link,
  .btn:hover {
    padding: 5px 10px;
    font-size: 15px;
  }
}

.btn--gray,
.btn--gray:link,
.btn--gray:visited {
  background-color: #e8eff2;
  color: #162542;
}

.btn--gray:hover {
  color: #fff;
  background-color: #162542;
}

.btn--orange,
.btn--orange:link,
.btn--orange:visited {
  background-color: #f16718;
  color: #ffffff;
}

.btn--orange:hover {
  background-color: #ff9b62;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  padding: 23px 24px 64px 24px;
}
@media only screen and (min-width: 700px) {
  .header {
    padding: 40px 40px 62px 39px;
    max-width: 967px;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    max-width: 1190px;
    padding: 55px 40px 83px 40px;
  }
}

@media only screen and (max-width: 360px) {
  .logo {
    width: 36px;
    height: 36px;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  overflow-x: hidden;
}
@media only screen and (min-width: 600px) {
  .hero {
    overflow-x: revert;
    max-width: 600px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 700px) {
  .hero {
    padding: 0 40px 0 39px;
    flex-direction: row;
    align-items: center;
    max-width: revert;
  }
}
@media only screen and (min-width: 966px) {
  .hero {
    justify-content: center;
  }
}
.hero__content-box {
  margin-bottom: 64px;
}
.hero__content-box div {
  display: flex;
  align-items: center;
}
.hero__content-box p {
  max-width: 500px;
}
@media only screen and (min-width: 595px) {
  .hero__content-box p {
    max-width: 550px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__content-box p {
    padding-right: 50px;
  }
}
@media only screen and (min-width: 700px) {
  .hero__content-box {
    width: 340px;
    flex-shrink: 0;
    margin-right: 69px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__content-box {
    width: 445px;
    margin-right: 125px;
  }
}
.hero__release {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #7b8bad;
  margin-left: 32px;
}
@media only screen and (min-width: 700px) {
  .hero__release {
    margin-left: 37px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__release {
    margin-left: 40px;
  }
}
@media only screen and (max-width: 360px) {
  .hero__release {
    margin-left: 20px;
    font-size: 14px;
  }
}
.hero__img-box {
  width: 375px;
  position: relative;
}
@media only screen and (min-width: 424px) {
  .hero__img-box {
    width: revert;
    max-width: 550px;
  }
}
@media only screen and (min-width: 700px) {
  .hero__img-box {
    max-width: revert;
    width: 478px;
    flex-shrink: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__img-box {
    width: 540px;
    height: 480px;
  }
}
.hero__img-box::before {
  content: url(./../assets/shared/pattern-square.svg);
  position: absolute;
  right: -285px;
}
.hero__img {
  display: inline-block;
  width: 100%;
  border-radius: 20px;
}

.hero-section-margin-bottom {
  margin-bottom: 24px;
}
@media only screen and (min-width: 700px) {
  .hero-section-margin-bottom {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-section-margin-bottom {
    margin-bottom: 30px;
  }
}

.h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #162542;
}
@media only screen and (max-width: 360px) {
  .h1 {
    font-size: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .h1 {
    font-size: 56px;
    line-height: 56px;
  }
}

.hero-h1-margin-bottom {
  margin-bottom: 32px;
}
@media only screen and (min-width: 700px) {
  .hero-h1-margin-bottom {
    margin-bottom: 34px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-h1-margin-bottom {
    margin-bottom: 24px;
  }
}

.gallery {
  padding: 0 24px;
  overflow-x: hidden;
}
@media only screen and (min-width: 700px) {
  .gallery {
    padding: 0 40px 0 39px;
    overflow-x: revert;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery {
    max-width: 1189px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}
.gallery__imgs-box {
  position: relative;
  margin-bottom: 75px;
  display: grid;
  column-gap: 24px;
  grid-template-columns: 0.3696fr 0.6303fr;
  max-width: 550px;
  height: 193px;
  margin-left: -46px;
}
@media only screen and (min-width: 424px) {
  .gallery__imgs-box {
    margin: 0 auto 75px auto;
  }
}
@media only screen and (min-width: 700px) {
  .gallery__imgs-box {
    max-width: 888px;
    height: 320px;
    margin-bottom: 72px;
    column-gap: 30px;
    grid-template-columns: 0.3247fr 0.6752fr;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__imgs-box {
    max-width: revert;
    width: 730px;
    height: 480px;
    margin: 0;
    grid-template-columns: 0.3642fr 0.6357fr;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__imgs-box::before {
    content: url(./../assets/shared/pattern-square.svg);
    position: absolute;
    bottom: -7px;
    left: -285px;
  }
}
.gallery__img {
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}
.gallery__img--1 {
  background-image: url(./../assets/mobile/image-phone-and-keyboard.jpg);
}
@media only screen and (min-width: 700px) {
  .gallery__img--1 {
    background-image: url(./../assets/tablet/image-phone-and-keyboard.jpg);
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__img--1 {
    background-image: url(./../assets/desktop/image-phone-and-keyboard.jpg);
  }
}
.gallery__img--2 {
  background-image: url(./../assets/mobile/image-glass-and-keyboard.jpg);
}
@media only screen and (min-width: 700px) {
  .gallery__img--2 {
    background-image: url(./../assets/tablet/image-glass-and-keyboard.jpg);
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__img--2 {
    background-image: url(./../assets/desktop/image-glass-and-keyboard.jpg);
  }
}
.gallery__content-box {
  text-align: center;
  margin: 0 auto;
  max-width: 550px;
}
@media only screen and (min-width: 700px) {
  .gallery__content-box {
    max-width: 888px;
    text-align: left;
    display: flex;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__content-box {
    max-width: revert;
    width: 255px;
    flex-direction: column;
    margin: 0 0 0 auto;
  }
}
.gallery__content-box p {
  padding: 0 10px;
}
@media only screen and (min-width: 700px) {
  .gallery__content-box p {
    padding: 0;
    width: 398px;
    margin-left: auto;
  }
}
@media only screen and (min-width: 888px) {
  .gallery__content-box p {
    width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery__content-box p {
    width: 100%;
  }
}

.h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 24px;
  padding: 0 10px;
}
@media only screen and (min-width: 700px) {
  .h2 {
    margin-bottom: 0;
    padding: 0;
    width: 220px;
  }
}
@media only screen and (min-width: 1200px) {
  .h2 {
    width: 100%;
    margin-bottom: 27px;
  }
}

.gallery-section-margin-bottom {
  margin-bottom: 111px;
}
@media only screen and (min-width: 700px) {
  .gallery-section-margin-bottom {
    margin-bottom: 142px;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery-section-margin-bottom {
    margin-bottom: 168px;
  }
}

.features-section {
  margin-bottom: 96px;
  padding: 0 24px;
  text-align: center;
}
@media only screen and (min-width: 700px) {
  .features-section {
    margin-bottom: 142px;
    text-align: left;
    padding: 0 40px 0 39px;
    display: grid;
    row-gap: 72px;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .features-section {
    margin-bottom: 128px;
  }
}

.feature {
  max-width: 550px;
  margin: 0 auto;
}
.feature:not(:last-child) {
  margin-bottom: 64px;
}
@media only screen and (min-width: 700px) {
  .feature:not(:last-child) {
    margin-bottom: 0;
  }
}
.feature__icon {
  background-color: #f16718;
  padding: 22.45px 19.86px 22.31px 20px;
  border-radius: 16px;
  margin-bottom: 48px;
}
@media only screen and (min-width: 700px) {
  .feature__icon {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .feature__icon {
    margin-bottom: 48px;
  }
}

.h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 24px;
}
.h3 span {
  display: block;
}

.footer {
  text-align: center;
  padding-bottom: 50px;
}
@media only screen and (min-width: 700px) {
  .footer {
    padding-bottom: 43px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 39px;
  }
}
.footer p {
  color: #7b8bad;
}
.footer span {
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
